*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
  --h60: 60px;
  --h40: 40px;
  --gray:rgba(177,177,177,255);
}

.c-gray{
    color: var(--gray);
}



.container{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-image:linear-gradient(to top, rgba(217,219,213,255) 80%, rgba(0,150,136,255)  20%);
}
#root{
    width: 70%;
    height: 100%;
    margin:  0 auto;
    padding: 30px 0;
    display: flex;
}
#root .contacts{
    width: 30%;
    display : flex;
    flex-direction: column;
}
#root .chat{
    width: 70%;
}


.myavatar,.actualchat,.send{
    background-color: rgba(234,234,234,255);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height:var(--h60);
}
.myavatar>div,.actualchat>div{
    display: flex;
    align-items: center;
}
.avatar{
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.myavatar i,.actualchat i{
    margin: 0 5px;
}

.contacts .notify{
    background-color:rgba(142,218,252,255);
    display: flex;
    align-items: center;
    padding:10px 0;
}

.contacts .notify>div{
    margin-left: 10px;
}

.contacts .notify>div>.c-gray{
    text-decoration: underline;
}

.contacts .notify i{
    color:rgba(142,218,252,255);
    background-color: white;
    font-size: 1rem;
    padding:10px;
    border-radius: 50%;
    margin-left: 20px;
    aspect-ratio: 1/1;
}


.search{
    background-color:rgba(250,250,250,255);
    height: var(--h40);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type="text"]{
    border: 0;
}
.search input[type="text"]{
    width:90%;
    height:70%;
}
.search button{
    border: 0;
    background-color:rgba(250,250,250,255);
}
.chats{
    background-color:rgba(255,255,255,255);
    height: calc(100% - var(--h40) - var(--h60) - var(--h60));
    overflow: auto;
    display: flex;
    flex-direction:column;
}
.contact{
    padding: 10px;
    border-bottom: 1px solid var(--gray);
    display: flex;
}
.message{
    height:calc(100% - var(--h60) - var(--h60));
    background-image: url(../img/mine.jpg);
    overflow:auto;
}

.accesso{
    color: var(--gray);
    font-size: 0.9rem;
}
.send{
    justify-content: space-around;
    align-items: center;
    font-size: 1.3rem;
}
.send input[type="text"]{
    width: 85%;
    height: 2rem;
    padding:10px;
    border-radius: 5px;
}
.message>div{
    padding: 5px;
}
.ricevuti{
    background-color:white;
    float:left;
}
.inviati{
    background-color:rgb(220, 248, 198);
    float:right;
}
.mess{
    border-radius: 5px;
    padding:10px;
    max-width: 50%;
}
.mess div:first-child{
    margin: 5px 0;
}

.clearfix:after{
    clear: both;
    display: table;
    content: "";
}
.ora{
    font-size: 0.5em;
    text-indent: 0;
}
.inviati .ora{
    text-align: right;
}
.ricevuti .ora{
    text-align: left;
}
.arrow{
    margin: 0 5px;
    opacity: 0;
    position: relative;
}
.ricevuti .arrow{
    float:left;
}

.inviati .arrow{
    float:right;
} 

.mess:hover .arrow{
    opacity: 1;
}
.messageMenu{
    position: absolute;
    background-color:white;
    padding:20px;
    list-style: none;
    top: 100%;
    z-index: 999;
}
.inviati .messageMenu{
    right:0;
}
.ricevuti .messageMenu{
    left:0;
}
.mess>div:first-child{
    position: relative;
}
