<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Titolo Documento</title>
</head>

<body>
    <div class="container">
        <div id="root">
            <div class="contacts">
                <div class="myavatar">
                    <div class="name">
                        <img class="avatar" src="img/avatar_io.jpg" alt="avatar_1">
                        <span>Paolo Dosseto</span> 
                    </div>
                    <div class="c-gray">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div class="notify">
                    <i class="fas fa-bell-slash"></i>
                    <div>
                        <div>
                            Ricevi notifiche di nuovi messaggi
                        </div>
                        <div class="c-gray">
                            attiva notifiche desktop
                        </div>
                    </div>
                </div>
                <div class="search">
                    <input type="text" placeholder="search" v-model="filter" @keyup="filterlist">
                    <button class="c-gray"><i class="fas fa-search"></i></button>
                </div>
                <div class="chats">
                    <div class="contact" :class="(counter==numero)?'b_gray':null" v-for="numero in save" @click="changeChat(numero)">
                        <img class="avatar" :src="`img/avatar${contacts[numero].avatar}.jpg`" :alt="contacts[numero].name">
                        <div>
                            <div>{{contacts[numero].name}}</div>
                            <div class="ora c-gray">
                                <span>
                                    {{contacts[numero].messages[contacts[numero].messages.length-1].message}}
                                </span>
                                <span class="t-right">
                                    {{ obtainTime(contacts[numero].messages[contacts[numero].messages.length-1].date)}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chat">
                <div class="actualchat">
                    <div class="name">
                        <img class="avatar" :src="`img/avatar${contacts[counter].avatar}.jpg`" :alt="contacts[counter].name">
                        <div>
                            {{contacts[counter].name}}
                            <div class="c-gray">ultimo accesso oggi alle {{obtainTime(contacts[counter].messages[contacts[counter].messages.length-1].date)}}</div>
                        </div>
                    </div>
                    <div class="c-gray">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div class="message">
                    <div class="clearfix" v-for="(message,index) in contacts[counter].messages">
                            <div class="mess" :class="(message.status=='sent')? 'inviati':'ricevuti'"  
                            tabindex="-1"
                            @click="onArrowClick(message, $event)" 
                            @blur="onFocusLost(message)"
                            >
                            
                                <div class="freccia" >

                                    <i class="fas fa-chevron-down c-gray arrow"></i>

                                    <div class="messageMenu"
                                        v-if="message.showPopup" 
                                        @click.stop="onPopupClick(message)">
                                        <ul>
                                            <li>
                                                Message info
                                            </li>
                                            <li @click="deleteMessage(index)">
                                                Delete message
    
                                            </li>
                                        </ul>
                                    </div>
                                    {{message.message}}
                                </div>
                                <div class="c-gray ora">
                                    {{obtainTime(message.date)}}
                                </div>
                            </div>
                    </div>
                </div>
                <div class="send">
                    <i class="far fa-smile c-gray"></i>
                    <input type="text"  name="" @keyup.enter="sentmessage" v-model="message" placeholder="manda messagio" id="">
                    <i class="fas fa-microphone c-gray"></i>
                </div>
            </div>
        </div>
    </div>
    <script src="js/main.js"></script>
</body>

</html>